.categories{
    padding:70px 40px;
    background:#0f0f0f;
    color:white;
    text-align:center;
}

.categories h2{
    font-size:40px;
    margin-bottom:40px;
}

.category-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.category-card{
    width:180px;
    padding:25px;
    background:#1c1c1c;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

.category-card:hover{
    background:#00c8ff;
    transform:translateY(-8px);
}

.category-card h3{
    margin:0;
}