.games{
  padding: 70px 40px;
  background: #111;
  color: white;
}

.games h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.games-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 25px;
}

.game-card{
  background: #1b1b1b;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

.game-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 0 20px #00c8ff;
}

.game-card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.game-card h3{
  margin: 15px 0 10px;
}

.game-card p{
  color: #00c8ff;
  font-size: 18px;
  margin-bottom: 15px;
}

.game-card button{
  margin-bottom: 20px;
  padding: 10px 25px;
  border: none;
  background: #00c8ff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.game-card button:hover{
  background: #0099cc;
}